{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    {% if messages %}
    <div class="alert alert-warning">
        <ul class="list-unstyled">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <form method="post" class="mb-4">
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
                <div class="col-md-6">  <!-- Use col-* classes to set grid column sizes -->
                    <div class="form-group">
                        {{ field.label_tag }}  <!-- Renders label for the field -->
                        {{ field|add_class:"form-control" }}  <!-- Renders input field with Bootstrap class -->
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small> <!-- Help text -->
                        {% endif %}
                        {{ field.errors }}  <!-- Display any errors for the field -->
                    </div>
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <p>To register an account <a href="{% url 'register' %}">Click here</a></p>
    <p>Forgot Password?: <a href="{% url 'password_reset' %}">Reset Password</a></p>
</div>
{% endblock %}