{% extends "base.html" %}
{% load static%}


{% block content%}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<div class="row">
  <div class="col-12">
<form method="post">
    {% csrf_token %}
    {{ form }}

    <input type="submit" value="Submit">


</form>
</div>
</div>

<p>To login: <a href="{% url 'login' %}">Click Here</a></p>

{% endblock%}

</html>