{% extends "base.html" %}
{% load static%}


{% block content%}
<div class="container-fluid">
<h3 style="color:white;"> Welcome to ALMA application portal</h3>
<div class="box">
  <p style=" display:flex; justify-content: center; color:white;">Building Leaders of Integrity!</p>
</div>
<ul style="list-style-type: none; padding: 0;">
    <li><a href="{% url 'application_view'%}" >Apply Now</a></li>
    <li><a href="{% url 'track_application'%}" >Track Application</a></li>
</ul>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Logout">
</form>
</div>  

{% endblock%}
