{% extends "base.html" %}
{% load static%}


{% block content%}
<div class="container-fluid" style="background-image: url('{% static 'images/ab.jpg' %}'); background-size: cover; height: 100vh;">

  <div class="row">
    <div class="col-12 mt-5 d-flex justify-content-center align-items-center"">
<h3 style="color:black; margin-top:100px; justify-content: center;"> Welcome to ALMA application portal</h3>
    </div>
<div class="col-12 mt-2">
  <p style=" display:flex; justify-content: center; color:black;">Building Leaders of Integrity!</p>
</div>
</div>
<div class="container">
  <div class="row">
      <div class="col-12 ">
          <ul class="d-flex justify-content-center" style="list-style-type: none; padding: 0; gap: 20px;">
              <li class="me-3">  <!-- Adding margin to the right for space between items -->
                  <a  style="color:maroon;" href="{% url 'application_view' %}">Apply Now</a>
              </li>
              <li>
                  <a  style="color:maroon;" href="{% url 'track_application' %}">Track Application</a>
              </li>
          </ul>
      </div>
  </div>
</div>

<div class="row d-flex justify-content-center mt-5">
<div class="col-12 d-flex justify-content-center mt-5">
 <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Logout">
</form>
</div> 
</div> 

</div>   

{% endblock%}
