{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Detail</title>
    <link rel="stylesheet" href="{% static 'css/application/app_details.css' %}">
</head>
<body>
    <h1>Application Detail for {{ application.first_name }} {{ application.last_name }}</h1>

    <h3>Application Type</h3>
    <p> {{ application.get_application_type_display }}</p>

    <h3>Personal Information</h3>
    <ul>
    <li>First Nme: {{ application.first_name}}</li>
    <li>Last Name: {{application.last_name}}</li>
    <li>Date Of Birth: {{ application.date_of_birth }}</li>
    <li>Gender: {{ application.gender }}</li>
    <li>National ID: {{ application.national_id }}</li>
    <li>Title: {{application.title}}</li>
    <li>Marital Status: {{application.marital_status}}</li>
    <li>Place Of Birth: {{application.place_of_birth}}</li>
    <li>Citizenship: {{application.citizenship}}</li>
    <li>Country: {{application.country}}</li>
    <li>Disability: {{application.disability}}</li>
    <li>Disability Details: {{application.disability_details}}</li>
    </ul>

    <h3>Personal Documents</h3>
    {% if application.documents.first %}
        <ul>
            <li>Birth Certificate: <a href="{{ application.documents.first.birth_certificate.url }}">{{ application.documents.first.birth_certificate.name }}</a></li>
            <li>ID Document: <a href="{{ application.documents.first.id_document.url }}">{{ application.documents.first.id_document.name }}</a></li>
        </ul>
    {% endif %}
    

    <h3>Contact Information</h3>
    <ul>
    {% for contact in application.contacts.all %}
        <li>Phone Number: {{ contact.phone_number }}</li>
        <li>Email: {{ contact.email }}</li>
        <li>Address Street No: {{contact.permanent_address_no_street}}</li>
        <li>Address: {{ contact.permanent_address_no_street }} {{ contact.permanent_address_apt_unit }}</li>
        <li>Address State or Province: {{contact.permanent_address_state_province}}</li>
        <li>Home Phone: {{contact.home_phone}}</li>
        <li>Office Phone: {{contact.office_phone}}</li>

    {% endfor %}
    </ul>

    <h3>Education Background</h3>
    <ul>
    {% if application.educational.count > 0 %}
        {% for master in application.educational.all%}
        <li>Period Of Study: {{master.period_of_study}}</li>
        <li>Awarding Instituion: {{ master.awarding_institution }}</li>
        <li>Degree Classification: {{master.degree_diploma_level_classification}}</li>
        <li>Major Subjects: {{master.major_subjects}}</li>
        <li>Date Awarded: {{master.date_awarded}}</li>
    <ul>
        <h4>Program Details</h4>
        <li>Preferred learning Format: {{master.preferred_learning_format}}</li>
        <li>Program Applied For: {{master.programme_applied_for}}</li>
        <li>Prospective Sponsors: {{master.prospective_sponsors}}</li>
    </ul>
        {% endfor %}
    {% else %}
        <li>No Educational recors found Under Masters Programs!</li>
    {% endif %}
    </ul>

    <h3>Education Background</h3>
    <ul>
        {% if application.certificate_edu.count > 0 %}
        {% for cert in application.certificate_edu.all%}
        <li>Period Of Study: {{cert.period_of_study}}</li>
        <li>Instituion Attendant: {{ cert.institution_attended }}</li>
        <li>Level Of Study: {{cert.level_of_study}}</li>
        <li>Major Subjects: {{cert.major_subjects}}</li>
        <li>Date Awarded: {{cert.date_awarded}}</li>
    <ul>
        <h4>Program Details</h4>
        <li>Preferred learning Format: {{cert.preferred_learning_format}}</li>
        <li>Program Applied For: {{cert.programme_applied_for}}</li>
        <li>Prospective Sponsors: {{cert.prospective_sponsors}}</li>
    </ul>
        {% endfor %}
    {% else %}
        <li>No Educational Records found under Certificate Programs!</li>
    {% endif %}
    </ul>

   

    <h3>Educational Documents</h3>
{% if application.masters.first %}
    
    <ul>
        <li>Transcript: <a href="{{ application.masters.first.transcript.url }}">{{ application.masters.first.transcript.name }}</a></li>
        <li>Degree Certificate: <a href="{{ application.masters.first.degree_certificate.url }}">{{ application.masters.first.degree_certificate.name }}</a></li>
        <li>A level Certificate: <a href="{{ application.masters.first.a_level_certificate.url}}">{{ application.masters.first.a_level_certificate.name}}</a></li>
        <li>O level Certificate: <a href="{{ application.masters.first.o_level_certificate.url}}">{{ application.masters.first.o_level_certificate.name}}</a></li>
        <li>CV: <a href="{{ application.masters.first.CV.url}}">{{ application.masters.first.CV.name}}</a></li>
    </ul>
    
{% else %}
    <li>No Educational Certificates Associated With Masters Programs!</li>
{% endif %}



<h3>Educational Documents</h3>
{% if application.certificate.first %}
    
    <ul>
        <li>A' Level Certificate: <a href="{{ application.certificate.first.a_level_certificate.url }}">{{ application.certificate.first.a_level_certificate.name }}</a></li>
        <li>O level Certificate: <a href="{{ application.certificate.first.o_level_certificate.url}}">{{ application.certificate.first.o_level_certificate.name}}</a></li>
        <li>CV: <a href="{{ application.certificate.first.CV.url}}">{{ application.certificate.first.CV.name}}</a></li>
        
    </ul>
    
{% else %}
    <li>No Educational Certificates Associated With Certificate Programs!</li>
{% endif %}


    
    <h3>WorkExperience</h3>
    <ul>
    {% for work in application.work_experiences.all %}
        <li>Employer: {{ work.employer }}</li>
        <li>Work Details: {{ work.work_details }}</li>
        <li>Work Experience From: {{ work.work_experience_from }}</li>
        <li>Work Experience To: {{ work.work_experience_to }}</li>
        <li>Referance 1 Name: {{ work.reference_1_name }}</li>
        <li>Reference 1 Email: {{ work.reference_1_email }}</li>
        <li>Reference 1 Phone Number: {{ work.reference_1_email }}</li>
        <br>
        <li>Referance 2 Name: {{ work.reference_2_name }}</li>
        <li>Reference 2 Email: {{ work.reference_2_email }}</li>
        <li>Reference 2 Phone Number: {{ work.reference_2_email }}</li>
        <br>
        <hr>

       {% endfor %}
    </ul>

    <h3>Other</h3>
    <li>How you hear about ALMA: {{ work.how_did_you_hear_about_ALMA }}</li>
    <li>Adtional Remarks: {{ work.additional_remarks }}</li>
 


    <h3>Status</h3>

    <!-- Show current status -->
    <p>Last Updated: {{ last_update }}</p>
    <p>Current Status: {{ status }}</p>
    
    <!-- Form to Update Status -->
    <form method="post" action="{% url 'registrar_view' application.id %}">
        {% csrf_token %}
        <label for="id_status">Change Status:</label>
        {{ form.status }}  <!-- Render the status Select field -->
        <button type="submit">Update Status</button>
    </form>

    <h3>Download Options</h3>
<a href="{% url 'authentication:download_pdf' application.id %}" class="button">Download PDF</a>
<a href="{% url 'authentication:download_word' application.id %}" class="button">Download Word</a>
<a href="{% url 'authentication:download_excel' application.id %}" class="button">Download Excel</a>
    
    
</body>
</html>