{% extends 'base.html' %}

{% block content %}

    <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center">
                <select id="selection" name="selection" class="form-control" required>
                    <option value="">Select Option below to proceed!</option>
                    <option value="{% url 'card_payment'%}">Masters Programs Apply Now</option>
                    <option value="{% url 'certificate_application'%}">Certificate Programs Apply Now</option>
                    <option value="{% url 'track_application' %}">Track Application</option>
                </select>
            </div>
        </div>
{% endblock %}